.navContainer{
    opacity: 0.75;

    position: fixed;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    /* justify-items: stretch; */
    /* align-items: stretch; */

    margin-top: 18%;
    margin-left: 90%;
    margin-right: 10px;

    width: 100px;
    height: 250px;

    background-color: transparent;
  }

  .navButton{
      /* padding-top: 27px;
      padding-bottom: 27px; */

      min-height: 60px;

      border: transparent;

      font-family: open Sans;
      font-size: 20px;
      color: white;

      opacity:0.7;

      background-color: transparent;
  }
  .active{
    min-height: 60px;

    /*border: 4px solid green;*/
    border: transparent;

    opacity:1;
    background-color: transparent;

    font-size: 30px;
    color: yellow;
  }