.container{
    background: linear-gradient(rgb(0, 167, 245), rgb(0, 51, 161));
    height: 1800px; 
    /* font-size: 50px; */
}
.Title{
    text-align: center;
    font-size: 150px;
    font: Open Sans;
}
.backContainer{
    max-width:70px;
    max-height: 70px;
}
.back{
    width: 80%;
    height: 80%;
    padding: 5px;
}
.back:hover{
    opacity: 0.6;

    width: 95%;
    height: 95%;
    /* background-color: white; */
}

.bubbleContainer{
    display: flex;
    align-items: stretch;
    justify-content: space-evenly;
    width: 100%;
    height: 350px;
}

.bubbleOne{
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: white;
    margin: 5%;
    
    /* line-height: 100px; */
    opacity: 0.6;

    border-radius:50%;
    text-align: center;

    font-family: open Sans;

    min-height: 200px;
    min-width: 200px;
    box-sizing: border-box;
}

.bubbleOne:hover{

}
.bubbleTwo{

    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: white;
    margin: 5%;

    /* line-height: 100px; */
    opacity: 0.6;

    border-radius:50%;
    text-align: center;

    font-family: open Sans;

    
    max-height: 200px;
    min-width: 200px;
    box-sizing: border-box;
}
.bubbleTwo:hover{


    /* background-color: white;
    opacity: 0.8;

    border-radius:75%;
    text-align: center;
    font-size: 24.25px; */
    /* min-height: 120px; */

}
.bubbleThree{
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: white;
    margin: 5%;
    
    /* line-height: 100px; */
    opacity: 0.6;

    border-radius:50%;
    text-align: center;

    font-family: Open Sans;

    max-height: 200px;
    min-width: 200px;
    box-sizing: border-box;
    
}
.bubbleThree:hover{
    /* background-color: white;
    opacity: 0.8;
    border-radius: 75%;
    text-align: center;
    /*font-size: 24.25px;*/
    /* font-size: 25px;  */
 
}
.bubbleFour{
    display: flex;
    flex-direction: column;
    justify-content: center;

    background-color: white;
    margin: 5%;
    /* padding: 80px 0px; */
    /* line-height: 100px; */
    opacity: 0.6;


    border-radius:50%;
    text-align: center;

    font-family: Open Sans;

    max-height: 200px;
    min-width: 200px;

    box-sizing: border-box;
    
}
.bubbleFour:hover{
    /* background-color: white;
    opacity: 0.8;

    border-radius:75%;
    text-align: center;
    font-size: 24.25px; */
    /* min-height: 120px; */

}

.sevenActions{
    font: Open Sans;
    height: 300 px;
    margin-left: 30%;
    margin-right: 30%;
    color: white;
    background-color: transparent;
    border: none;
}
.sevenActions:hover{
    color: blue;
}
.beachCleanUp{
    font: Open Sans;
    height: 300 px;
    margin-left: 30%;
    margin-right: 30%;
}
.donationLinks{
    font: Open Sans;
    height: 300 px;
    margin-left: 30%;
    margin-right: 30%;
}
