.Sunlight{
    background: linear-gradient(rgb(0, 167, 245), rgb(0, 51, 161));
    height: 300px;
    width: 100%;

    
    /* removes white space gap */
    border: 1px solid;
    border-color: rgb(0, 167, 245) rgb(0, 167, 245) rgb(0, 51, 161) rgb(0, 167, 245);
    
}
.sunlightTitle{
    /* important */
    position: absolufte;

    color: yellow;

    margin-left: 40%;
    margin-top: 8%;

    width: 20%;

    text-align: center;
    font-family: Roboto Slab;
}
.turtleContainer{
    display:flex;
    align-items: center;
    align-items: stretch;
    flex-direction: row-reverse;
    position: absolute;
    
    margin-left: 60%;
    margin-bottom: 10px;

    width: 400px;
    height: 180px;

}
.turtleImage{
    width: 120px;
    height: 120px;
}
.turtleImage:hover{
    width: 125px;
    height: 125px;
}

.turtleLabel{
    opacity: 0.6;

    border-radius: 5%;
    border-color: black;
    color: black;
    background-color: white;

    line-height: 25px;
    
    font: Open Sans;
    font-size: 20px;

    text-align: center;

    /* position: center; */
    margin-left: auto;
    margin-right: 5%;

    padding: 20px;
}

/* trash fish*/

.trashfishContainer{
    display:flex;
    align-items: center;
    align-items: stretch;
    
    margin-left: 10%;
    margin-top: 2%;

    width: 400px;
    height: 215px;

}
.trashfishImage{
    width: 120px;
    height: 120px;
}
.trashfishImage:hover{
    width: 125px;
    height: 125px;
}

.trashfishLabel{
    opacity: 0.6;

    border-radius: 5%;
    border-color: black;
    background-color: white;
    
    font: Open Sans;
    font-size: 18px;
    line-height: 25px;

    text-align: center;

    /* position: center; */
    margin-left: auto;
    margin-right: auto;
    padding: 20px 20px;
}