.title{
    height: 650px;
    /* width: 1250px; */
    width: 100%;
    background-image: url('./../all-images/titlePageFINAL.png');
    background-size: 100% 100%;
    background-position: left bottom;


}
.downArrow{
    position: absolute;
    
    margin-left: 50%;

    width: 75px;
    height: 75px;
}
.downArrow:hover{
    width: 80px;
    height: 80px;
}
.downArrowContainer{
    margin-top: 25%;

}
.resourcesButton{

    margin-top: 10px;

    width: 200px;
    
    border-radius: 25px;

    margin-left: 40%;

    font-family: Open Sans;
    
    font-size: 20px;

    padding: 20px 25px;
    text-align: center;

    text-decoration: none;

    color: black;
    background-color: white;

    opacity: 0.85; 
}
.resourcesButton:hover{
    color:white;
 
    background-color: white;
    opacity: 1;
    text-decoration: none;
    
}
.resourcesLink{
    text-decoration: none;
}
.resourcesLink:visited{

    text-decoration: none;
    color:black;

}
.boatContainer{
    display: flex; 

    
    margin-left: 300px;
    margin-top: 350px;

    width: 400px;
    height: 200px;
}
.boatImage{
    width: 200px;
    height: 200px;

}
.boatImage:hover{
    
    width: 210px;
    height: 210px;
} 

.boatLabel{
    opacity: 0.75;

    border-radius: 5%;
    border-color: black;
    background-color: white;
    
    font-family: Open Sans;
    font-size: 18px;

    text-align: center;

    padding: 18px;
}